* {
  color: #242d49;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* body{
  position: relative;
} */
.app {
  color: #242d49;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.sections {
  position: relative;
  top: 70px;
  width: 100%;
  height: calc(100vh - 70px);
  height: 90vh;
  color: #242d49;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: crimson;
  border-radius: 10px;
}

.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, #ff5e57 26.71%, crimson 99.36%);
}

.button:hover {
  background: white;
  background: linear-gradient(#ed6f35, #d2190f);
  cursor: pointer;
  color: crimson;
  color: #f1f1f1;
  border: 2px solid crimson;
  border: none;
  font-weight: bolder;
}
